<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="title">BEML Machine Tracking System</div>
    <div class="dashboard">
      <h2 class="dashboard-content">Live Data Dashboard Layer</h2>
    </div>
    <div class="upload">
      <input type="file" />
      <button class="sync shadow">Sync Data</button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
